.card {
  color: white;
  background-color: rgb(42, 41, 45);
  border-radius: 10px;
  height: 227px;
  width: 360px;
  min-width: 311px;
  position: relative;
  box-sizing: border-box;
  padding: 24px;
  display: grid;
  margin-bottom: 24px;
  grid-template-rows: 1fr auto;
  font-family: AxLLCircular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  box-shadow: 0 0px 8px rgb(0 0 0 / 12%), 0 2px 16px rgb(0 0 0 / 12%),
    0 4px 20px rgb(0 0 0 / 12%), 0 12px 28px rgb(0 0 0 / 12%);
  color: rgb(255, 255, 255);
  &.digital {
    background-size: 360px 227px;
    animation-name: cardAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform: translateZ(0);
    color: black;
    position: relative;
    img {
      filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.3))
        drop-shadow(0 2px 16px rgba(0, 0, 0, 0.12))
        drop-shadow(0px 0px 12px rgba(255, 255, 255, 1));
      filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.3))
        drop-shadow(0 2px 16px rgba(0, 0, 0, 0.12))
        drop-shadow(0px 0px 12px rgba(255, 255, 255, 1));
      filter: drop-shadow(0px 1px 0px rgba(255, 255, 255, 0.3))
        drop-shadow(0 2px 16px rgba(0, 0, 0, 0.12))
        drop-shadow(0px 0px 12px rgba(255, 255, 255, 1));
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      box-shadow: 0 -1px 0 0 rgb(255 255 255 / 90%), 0 1px 0 0 rgb(0 0 0 / 20%);
      position: absolute;
      z-index: 1;
      border-radius: 10px;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(
          120deg,
          rgb(255 255 255 / 2%) 30%,
          rgb(255 255 255 / 25%) 40%,
          rgb(255 255 255 / 8%) 40%
        ),
        linear-gradient(0deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 10%));
      background-size: 150% 150%;
      animation: cardGradient 45s ease-in-out infinite;
      transform: translateZ(0);
      position: absolute;
    }
    &.eight {
      background-image: url("/assests/card-2.png");
    }
    color: #1a1d21;
  }
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
  }
  img {
    height: 18px;
  }
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  img {
    height: 40px;
  }
}

.card-name {
  display: grid;
  grid-gap: 8px;
  p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-shadow: 0 0px 8px rgb(0 0 0 / 12%);
    font-weight: 700;
    max-width: 232px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
  .title {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
  }
  .value {
    max-width: 232px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}
